@{
    ViewBag.Title = "Assistance";
}

		<div id="container">
			<div id="content" role="main" >
				<h2>Assistance</h2>
               
              <p align="left"><font face="Trebuchet MS">You can contact the UALR GIS Applications
                    Laboratory by email (<a href="mailto:ilfarmahan@ualr.edu">Sunny Farmahan</a>) 
                    or by phone (501) 569-8530. &nbsp; Arrangements can
                    be made for tours of the lab facilities and software demonstrations.&nbsp; GIS
                    training is available in conjunction with <a href="http://www.esri.com" target="_blank">ESRI</a> or
                    other <a href="http://www.esri.com" target="_blank">ESRI</a> certified instructors.&nbsp; Laboratory
                    staff is available to provide explanations, demonstrations or
                    presentations of GIS/GPS/Remote Sensing technology.&nbsp; Please
              call the lab to make arrangements.</font></p>
              <p align="left"><font face="Trebuchet MS">Correspondence can be sent to the following address:</font></p>
              <p align="center"><font face="Trebuchet MS">GIS Applications Laboratory<br>
					University of Arkansas - Little Rock<br>
					Reynolds Room 429<br>
					2801 South University<br>
					Little Rock, AR&nbsp; 72205</font></p>
             <p align="left">&nbsp;</p>
            
              
 
			</div><!-- #content -->
		</div><!-- #container -->