@{
    ViewBag.Title = "GPS Info";
}

<div id="container">
	<div id="content" role="main" >
		<h2>Facilities</h2>
                
              
        <p align="left"><font face="Trebuchet MS">
		The UALR GIS Applications Laboratory, located on the fourth floor of the Reynolds Building, was created by the merging of the GIS functions in the Colleges of Business Administration and Science and Engineering Technology. 

The laboratory is equipped for state-of-the-art analysis and visualization of geographic, demographic and environmental data.  
</p>
        <p align="left">
The lab utilizes entire suite software packages from Environmental Systems Research Inc. (ESRI) including ArcInfo, ArcView, and Atlas GIS on all Windows platforms. It is an ESRI authorized training site within the St. Louis region with advanced classes taught by ESRI personnel. 

In addition to the suite of ESRI products, the lab also uses GRASS (4.1) as well as ERDAS Imagine (WinNT) and SAS (VMS).
        </p>
        <p align="left">

The lab utilizes Windows NT workstations running a full complement of ESRI and ERDAS software. Printers and plotters include an HP5500 PS Plotter, an HP Inkjet 3000 color, Kyocera Mita KM6230 Printers, a Canon Imagerunner C3200 Color Printer, and an HP 755CM Plotter. 

		</font></p>
 
	</div><!-- #content -->
</div><!-- #container -->
