@{
    ViewBag.Title = "GPS Info";
}

<div id="container">
	<div id="content" role="main" >
		<h2>GPS Info</h2>
                
              
        <p align="left"><font face="Trebuchet MS">
		This page is under construction. Please come back after few days. We appreciate your patience. Thank you.
		</font></p>
 
	</div><!-- #content -->
</div><!-- #container -->
