@{
    ViewBag.Title = "GIS Laboratory";
}
		<div id="container"> 
			<div id="content" role="main">

				<div id="post-52" class="post-52 page type-page status-publish hentry">

					<div class="entry-image">							
							<img width="444" height="173" src="~/img/GIS1.jpg" class="attachment-featured-image-3-col wp-post-image" alt="gis-banner" title="gis-banner" />						
					</div><!-- /entry-image -->					
					
																			
					<div class="entry-content">
						<p><font face="Trebuchet MS">
						The UALR GIS Applications Laboratory strives to provide demographic, environmental, marketing and socioeconomic 
						data through the development of geopolitical databases and applications of geographic information and spatial analysis 
						systems. In pursuit of this mission, this facility assists businesses, governmental agencies and educational institutions 
						throughout Arkansas with training, database resources and problem resolution.</font></p>
					</div><!-- .entry-content -->

					<div class="entry-utility">
					</div><!-- .entry-utility -->

				</div><!-- #post-52 -->
				
			</div><!-- #content -->
		</div><!-- #container -->

