@{
    ViewBag.Title = "Location";
}
@section Scripts
{
    <script src="~/Scripts/location.js" type="text/javascript"></script>
}			

		<div id="container">
			<div id="content" role="main" >
				<h2>Location</h2>
                
              <p>
			  <font face="Trebuchet MS">
				The UALR GIS Applications Laboratory is located in the Donald Reynolds Center for Business and Economic Development at 
				the corner of 28th Street and University Avenue.   Free parking is available in lot 13, located across the street from the building. 
				When entering the building take the elevator to your left and go to the fourth floor.  The GIS Lab is located in room 429. 
			  </font>
			  </p>
			  
			  <p>
			  <font face="Trebuchet MS">
				A food court, which serves sandwiches, salads, fruit and pizza, is located on the first floor of the Reynolds Building. 
				There are numerous restaurants and fast food establishments within walking distance of campus.  The Donaghey Student Center also has
				a cafeteria and small fast food eateries if you don't care to leave campus for your meal. 
			  </font>
			  </p>

			  <p>
				<a href="http://ualr.edu/www/features/map/" target="_blank" id="ualrmap">UALR Campus Map</a>
			  </p>
			  
			  <p>
				
			  </p>
			
			</div><!-- #content -->
		</div><!-- #container -->
