@{
    ViewBag.Title = "Resources";
}
@section Scripts
{
    <script src="~/Scripts/resources.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="~/Scripts/mouseover.js" type="text/javascript"></script>
}			
		<div id="container">
			<div id="content" role="main" >
				<h2>Resources</h2>
				<p>
					<font face="Trebuchet MS">
					
						Here we have included a list of GIS - GPS - and Remote Sensing sites. If you would like to have your site placed 
						here (non-commercial), please email the <em><a href="mailto:ilfarmahan@ualr.edu">Webmaster</a>.</em>
					
					</font>
				</p>
				<div id="accordion">
					<h4>Links to Nearby States</h4>
					<div>						
						<table border="3" bordercolor="#000000" cellpadding="0" cellspacing="0">
							<tbody>
							<tr>
							  <td><p align="center"><img src="~/img/MS.gif" id="MSMap" usemap="#Map" border="0" height="260" width="350">
								  <map name="Map">
									<!--<area shape="poly" coords="140,59,190,54,193,63,198,62,203,52,200,47,200,37,190,32,192,23,178,14,175,0,127,1,135,11,141,25,139,40" href="http://www.smsu.edu/" target="_blank" onmouseover="document.getElementById('MSMap').src='~/img/MS-Mo.gif'" onmouseout="document.getElementById('MSMap').src='~/img/MS.gif'" onClick="var w1 = window.open('http://www.nwmissouri.edu/');">-->
									<area shape="poly" coords="180,124,167,119,146,124,139,115,134,120,127,114,123,118,112,113,96,109,100,79,58,74,57,65,176,69" href="http://www.csa.ou.edu/" target="_blank" onmouseover="document.getElementById('MSMap').src='../img/MS-Ok.gif'" onmouseout="document.getElementById('MSMap').src='../img/MS.gif'">
									<area shape="poly" coords="59,75,97,79,97,107,133,122,172,121,182,131,183,156,189,166,187,193,175,195,160,209,139,221,133,234,141,254,123,251,106,242,100,226,86,200,74,189,60,192,54,200,39,194,28,182,28,174,19,164,4,145,52,150" href="http://www.tnris.state.tx.us" target="_blank" onmouseover="document.getElementById('MSMap').src='../img/MS-Tx.gif'" onmouseout="document.getElementById('MSMap').src='../img/MS.gif'">
									<area shape="poly" coords="182,133,226,135,231,143,220,162,247,165,244,171,248,178,239,180,245,188,257,195,254,199,245,193,243,197,235,197,223,197,218,189,212,190,202,192,189,189,189,165,184,156" href="http://atlas.lsu.edu" target="_blank" onmouseover="document.getElementById('MSMap').src='../img/MS-Lo.gif'" onmouseout="document.getElementById('MSMap').src='../img/MS.gif'">
									<area shape="poly" coords="238,100,310,90,341,64,341,58,250,70,241,79" href="http://www.tngic.org" target="_blank" onmouseover="document.getElementById('MSMap').src='../img/MS-Tn.gif'" onmouseout="document.getElementById('MSMap').src='../img/MS.gif'">
									<area shape="poly" coords="237,100,262,98,265,131,261,141,262,174,246,177,244,170,220,164,229,146,223,138,225,124" href="http://www.maris.state.ms.us" target="_blank" onmouseover="document.getElementById('MSMap').src='../img/MS-Mi.gif'" onmouseout="document.getElementById('MSMap').src='../img/MS.gif'">
									<area shape="poly" coords="161,6,160,13,173,18,166,23,172,35,174,67,180,75,235,72,234,85,242,78,249,68,243,62,242,49,231,46,233,32,215,19,215,5" href="http://gis.missouri.edu/" target="_blank" onmouseover="document.getElementById('MSMap').src='../img/MS-Mo.gif'" onmouseout="document.getElementById('MSMap').src='../img/MS.gif'">
								  </map>
							  </p>
							  </td>
							</tr>
							</tbody>
						</table>			
					</div>
					<!--h4>Table of Contents</h4>
					<div>
						 <span class="UnderTitleText">
							<font face="Trebuchet MS">
							  <a href="#educational">Educational related GIS/RS World Wide</a><br/>
							  <a href="#arkansas">Arkansas GIS/RS Website</a><br/>
							  <a href="#educational">Websites</a><br/>
							  <a href="#general">General GIS/RS World Wide Websites</a><br/>
							  <a href="#us">U.S. Army Corps of Engineers Sites</a> <br/>
							  <a href="#other">Federal Agencies</a> </span> <br/> <br/>
							</font>
						  <p>
							<font face="Trebuchet MS">
							
								Here we have included a list of GIS - GPS - and Remote Sensing sites. If you would like to have your site placed 
								here (non-commercial), please email the <em><a href="mailto:ilfarmahan@ualr.edu">Webmaster</a>.</em>
							
							</font>
						  </p>

					</div -->
					
					<h4>Educational Related GIS/RS World Wide</h4>
					<div>
						<font face="Trebuchet MS">
							  <a href="http://www.clarku.edu/departments/idce/gis/index.html" target="_blank">Clark
							  University - Geographic Information Sciences for Development and Enviroment</a></font>
							  <font face="Trebuchet MS"><br>
							  <a href="http://eaps.mit.edu/erl/" target="_blank">MIT Earth Resource Laboratory</a></font>
							  <font face="Trebuchet MS"><br>
							  <a href="http://www.ncgia.ucsb.edu/" target="_blank">National Center for Geographic Information and 
							  Analysis</a></font><font face="Trebuchet MS"><br/>
							  <a href="http://www.csa.ou.edu/" target="_blank">Oklahoma Center for Spatial Analysis</a></font><font face="Trebuchet MS"><br/>
							  <a href="http://www.pasda.psu.edu/" target="_blank">Pennsylvania Spatial Data</a></font><br/>
							  <!--font face="Trebuchet MS">
                              <a href="http://www.idrisi.clarku.edu/" target="_blank">The IDRISI Project</a></font>-->
                              <font face="Trebuchet MS">
							  <a href="http://libinfo.uark.edu/gis/" target="_blank">University of Arkansas Libraries</a><br/>
							  <!--a href="http://www.surv.ufl.edu" target="_blank">University of Florida- Geomatics Program</a-->
							  <a href="http://www.spatial.maine.edu/" target="_blank">University of Maine - Department of Spatial Information 
							  Science and Engineering</a><br/>
							  <!--a href="http://gps.csr.utexas.edu/" target="_blank">University of Texas - GPS Homepage</a-->
						</font>

					</div>
					<h4>Arkansas GIS/RS Websites</h4>
					<div>
						<font face="Trebuchet MS"><a href="http://www.uark.edu/campus-resources/archinfo/" target="_blank">
						Arkansas Archaeological Survey</a><br>
						<a href="http://quake.ualr.edu/" target="_blank">ACEETT</a><br/>
						<!--a href="http://sal.uamont.edu" target="_blank">University of Arkansas, Monticello- Spatial Analysis Laboratory</a-->
						<a href="http://www.cast.uark.edu/" target="_blank">
						University of Arkansas - Center for Advanced Spatial Technologies</a></font>

					</div>
					<h4>General GIS/RS World Wide Websites</h4>
					<div>
						<font face="Trebuchet MS"><a href="http://www.or.blm.gov/gis/resources/scripts-utils.asp" target="_blank">
						Bureau of Land Management GIS Utilities</a><br>
						<a href="http://www.fgdc.gov/" target="_blank">Federal Geographic Data Products</a>
						<a href="http://www.geog.nott.ac.uk/remote/satfaq.html" target="_blank"></a><br>
						<a href="http://deathstar.rutgers.edu" target="_blank">Rutgers University - Center for Remote Sensing and Spatial Analysis
						</a>
						<a href="http://www.geog.nott.ac.uk/remote/satfaq.html" target="_blank"><br>
						</a>
                        <!--a href="http://info.er.usgs.gov/" target="_blank">United States Geological Survey Home Page</a--></font>
					</div>
					<h4>U.S. Army Corps of Engineers Sites</h4>
					<div>
						<font face="Trebuchet MS"><a href="http://www.usace.army.mil/" target="_blank">U.S.
						Army Corps of Engineers Information Network</a></font>
					</div>
					<h4>Federal Agencies</h4> 
					<div>
						<font face="Trebuchet MS"><a href="http://www.eis.noaa.gov/" target="_blank"></a>
						<!--a href="http://edcsns17.cr.usgs.gov/EarthExplorer/" target="_blank">Earth Explorer (USGS)</a-->
						<a href="http://www.epa.gov/" target="_blank">Environmental Protection Agency</a><br/>
						<!--a href="http://fgdc.er.usgs.gov/fgdc.html" target="_blank">Federal Geographic Data Committee</a-->
						<a href="http://info.er.usgs.gov/" target="_blank">
						</a><a href="http://daac.gsfc.nasa.gov/" target="_blank">Goddard DAAC [Earth Science Datasets]</a><br/>
						
                        <a href="http://www.nasa.gov/home/index.html" target="_blank">NASA Home Page</a><br/>
						<a href="http://atm.geo.nsf.gov/" target="_blank">
						</a>
                        <!--a href="http://www.eis.noaa.gov/" target="_blank">NOAA Environmental Server</a-->
						<a href="http://www.nrcs.usda.gov/" target="_blank"></a>
                        <!--a href="http://atm.geo.nsf.gov/" target="_blank">NSF GeoSciences Server</a-->
						<a href="http://www.epa.gov/docs/grd/forest_inventory/" target="_blank"></a>
                        <a href="http://www.gap.uidaho.edu" target="_blank">National GAP Analysis Program</a><br />
						<a href="http://www.ngdc.noaa.gov/ngdc.html" target="_blank">National Geophysical Data Center</a><br/>
						<a href="http://h2o.usgs.gov/nwc/" target="_blank">National Water Conditions</a><br/>
						<!--a href="http://www.nwi.fws.gov/" target="_blank">National Wetlands Inventory</a-->
						
						<a href="http://nationalmap.usgs.gov/" target="_blank">The National Map</a><br />
						<a href="http://www.census.gov" target="_blank">U.S. Census Bureau</a><br />
						<a href="http://www.fws.gov/" target="_blank">U.S. Fish and Wildlife Service - National Wetlands Inventory</a><br>
						<!--a href="http://info.er.usgs.gov/" target="_blank">U.S. Geological Survey</a-->
						<a href="http://daac.gsfc.nasa.gov/" target="_blank">
						</a><a href="http://www.nrcs.usda.gov/" target="_blank">USDA-Natural Resources Conservation Service</a><br/>
						<a href="http://geo-nsdi.er.usgs.gov/validate.php" target="_blank">Metadata Validation Service</a>
						</font>
					</div>
					
				</div>
 
			</div><!-- #content -->
		</div><!-- #container -->
