@{
    ViewBag.Title = "Staff";
}

		<div id="container">
			<div id="content" role="main" >
				<h2>GIS Staff</h2>				
						<table cellspacing="0" cellpadding="0" border="0"> 
						<tbody>
							<tr>
								<td width="380">
									  <p><b><span class="Btxt">Jim Youngquist</span><br>
										  <span class="txt">Executive Director, IEA</span>&nbsp; </b>
										  <span class="txt"><a href="mailto:jlyoungquist@ualr.edu">jlyoungquist@ualr.edu</a></span>
									  </p>

									  <p><b><big class="Btxt">Inderpreet (Sunny) Farmahan</big><br>
											<span class="txt">Director, UALR GIS Applications Laboratory</span></b> <br/>
											<span class="txt"><a href="mailto:ilfarmahan@ualr.edu">ilfarmahan@ualr.edu</a></span>
									  </p>

									  <p><b><span class="Btxt">Geoffrey Joseph</span><br>
											<span class="txt">Applications Programmer</span></b>
											<span class="txt"><a href="mailto:jojoseph@ualr.edu">jojoseph@ualr.edu</a></span>
									  </p>																				  
											 
									  <p><b><span class="Btxt">Michael Pakko</span><br>
											<span class="txt">Economic Forecasting </span></b>
											<span class="txt"><a href="mailto:mrpakko@ualr.edu">mrpakko@ualr.edu</a></span>
										</p>

                                      <p><span class="Btxt">Miranda White</span><b><br>
											<span class="txt">Research Assistant</span></b>
											<span class="txt"><a href="mailto:mmwhite@ualr.edu">mmwhite@ualr.edu</a></span>
										</p>
								</td>
								<td width="299">
								
										<p><b><span class="Btxt">Phyllis Poche</span><br>
											  <span class="txt">Associate Director, IEA</span></b>
											  <span class="txt"><a href="mailto:pnpoche@ualr.edu">pnpoche@ualr.edu</a></span>
										</p>
									  
										<p><b><span class="Btxt">Jerry Bell</span><br>
											 <span class="txt">Information Specialist</span></b>
											 <span class="txt"><a href="mailto:jlbell@ualr.edu">jlbell@ualr.edu</a></span>
										</p>
											 
										<p><b><span class="Btxt">Kevin Koonce</span><br>
											<span class="txt">GIS Analyst</span></b><br/>
											<span class="txt"><a href="mailto:kwkoonce@ualr.edu">kwkoonce@ualr.edu</a></span>
										</p>

										<p><b><span class="Btxt">Deano Traywick</span><br>
											 <span class="txt">GIS Analyst</span></b> <br/>
											 <span class="txt"><a href="mailto:jdtraywick@ualr.edu">jdtraywick@ualr.edu</a></span>
									    </p>	
										<p><b><span class="Btxt">Alison Wiley</span><br>
										   <span class="txt">Research Assistant</span></b><br/>
										   <span class="txt"><a href="mailto:alwiley@ualr.edu">alwiley@ualr.edu</a></span>
									  </p>

																  
								</td>                              
							</tr>
						</tbody>
						</table>  
 
			</div><!-- #content -->
		</div><!-- #container -->
