@using BotDetect.Web.UI.Mvc;
@using OnlineArkansas.App_Code;
@{
    ViewBag.Title = "Training";
}
@section Scripts
{
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/training.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js" type="text/javascript"></script>
    <script src="http://jquery.bassistance.de/validate/additional-methods.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.mask.min.js" type="text/javascript"></script>
}			
		<div id="container">
			<div id="content" role="main" >
				<h2>GIS Training Courses</h2>

                <a id ="emailFaxRegister" class="fundamentals" href="#">Register for courses</a><br /><br />

				<div id="accordion" class="trainingFont">
                    <h4>ArcGIS 10.1 Fundamentals (2 Day Course)<span style="float:right;">August 4, 2014</span></h4>
					<div>
						    <span class="fontRed fontSize4">
							    <strong>2 Day Course</strong>
						    </span>
                            <p class = "fontRed fontSize3">
							    August 4, 2014 <br/>
							    Cost: $700							
							</p>

                            <a id ="emailFaxRegister" class="fundamentals" href="#">Register for courses</a><br /><br />
						
							<p >
							<span class="fontSize4">
							<strong>Overview</strong> 
							</span>
							<br/>
							
							<span class="fontSize3">
							ArcGIS is a powerful and complex tool for viewing and analyzing data. With so much functionality available in 
                            the software, it can be difficult to get started. This 2-day class teaches essential skills for being 
                            efficient with ArcGIS. Explore GIS data through ArcMap and create maps to illustrate relationships in the 
                            data. Learn methods of displaying data with symbols and text. See how to ask questions of the data and get 
                            answers. 
							</span>
							</p>
							
                            <p><span class="fontSize4">
						    <strong>Audience</strong></span>
						    <br/>
							
						    <span class="fontSize3">
                            This course is primarily for who want to learn the basics of ArcGIS. 
                            </span></p>

							<p >
							<span class="fontSize4">
							<strong>Topics Covered</strong>
							</span>
							<br/>
							</p>
							<span class="fontSize3">
							Day 1
							</span>

							<ul class="fontSize3">
							    <li> Introduction to GIS (What is GIS?; What is ArcGIS?) 
							    </li>
							    <li> Starting ArcMap (GIS Data; Working with ArcMap) 
							    </li>
							    <li> Layer Symbology (Changing Symbology; Display Properties) 
							    </li> 
                                <li> Layer Properties (Table of Contents; Labels; Layer Files & Packages) 
							    </li>
							</ul>
							
                            <span class="fontSize3">
							Day 2
							</span>

							<ul class="fontSize3">
							    <li> Selections and Queries (Selecting Features; Interactive Selection; Select by Attributes; Select by 
                                Location; Using the Selection)
							    </li>
							    <li> Layouts (Data View and Layout View; Creating a Map; Map Elements; Map Output) 
							    </li>
							    <li> GIS Data Types (GIS Data; Catalog; Item Description; Finding Data; Spatial Reference) 
							    </li> 
                                <li> Tables and Geoprocessing (Plotting Coordinates; Basic Geoprocessing Tools) </li>
							</ul>

                        <p ><span class="fontSize4">
						<strong>Prerequisites and recommendations</strong></span>
						<br/>
						<span class="fontSize3">
                        Students should have knowledge of Microsoft Windows®.
                        </span></p>
					</div>

                     <h4>ArcGIS 10.1 Intermediate (3 Day Course)<span style="float:right;">August 6, 2014</span></h4>
					<div>
						    <span class="fontRed fontSize4">
							    <strong>3 Day Course</strong>
						    </span>
                            <p class = "fontRed fontSize3">
							    August 6, 2014 <br/>
							    Cost: $1,050							
							</p>

                            <a id ="emailFaxRegister" class="fundamentals" href="#">Register for courses</a><br /><br />
						
							<p >
							<span class="fontSize4">
							<strong>Overview</strong> 
							</span>
							<br/>
							
							<span class="fontSize3">
							ArcGIS has much more functionality than simple map display and navigation. It has many tools for collecting, 
                            creating and analyzing data. This 3-day class teaches finer skills for using ArcGIS. See how to connect 
                            information between tables and mark locations on the map. Practice managing data files, creating new data, 
                            and putting the data to work to generate answers to questions. 
							</span>
							</p>
							
                            <p><span class="fontSize4">
						    <strong>Audience</strong></span>
						    <br/>
							
						    <span class="fontSize3">
                            This course is for those who already know the basics of ArcGIS and want to expand their skills with the 
                            software and GIS in general. 
                            </span></p>

							<p >
							<span class="fontSize4">
							<strong>Topics Covered</strong>
							</span>
							<br/>
							</p>
							<span class="fontSize3">
							Day 1
							</span>

							<ul class="fontSize3">
							    <li> GIS Data Sources (GIS Data on the Web; ESRI and Vendor Datasets; ArcGIS Online; ArcMap review)  
							    </li>
							    <li> Projection Basics (Spatial Reference Issues; Spatial Reference; Spatial Reference and ArcGIS; 
                                Setting the Projection of Data) 
							    </li>
							    <li> Rasters (Raster Data Types; Raster Display Properties; Image Analysis Window; Clipping a Raster) 
							    </li> 
                                <li> Joins and Relates (Using Tables in ArcMap; Table Relationships; Attribute Joins; Relates; Spatial 
                                Joins) 
							    </li>
							</ul>
							
                            <span class="fontSize3">
							Day 2
							</span>

							<ul class="fontSize3">
							    <li> Bringing Data into ArcGIS (Georeferencing Scanned Images; Importing Various Data Types) 
							    </li>
							    <li> Creating GIS Data (GIS Data Types; File Creation; Attribute Definitions) 
							    </li>
							    <li> Beginner Editing (Editing Workflow; Tips and Tricks; Sketch Creation Tools; Feature Construction 
                                Tools; Construction Methods)  
							    </li> 
                                <li> Advanced Editing (Managing feature templates; Editing tips and tricks; Map Topology)
                                Intermediate GIS Concepts 1-101-101  </li>
							</ul>

                            <span class="fontSize3">
							Day 3
							</span>

							<ul class="fontSize3">
							    <li> Geoprocessing Tools (Geoprocessing Defined; Geoprocessing Menu Tools; ArcToolbox; Geoprocessing 
                                Options)  
							    </li>
							    <li> Labeling with Maplex (Label Properties; Label Placement Options) 
							    </li>
							    <li> ArcMap Tools (Accessing Tools; Tools Toolbar; Other Toolbars; Graphs and Reports)  
							    </li> 
                                <li> Advanced Layouts (Aligning map elements, Clipping a data frame; Grids and graticules; Inset maps, 
                                Data Driven Pages, Exporting to PDF) </li>
							</ul>

                        <p ><span class="fontSize4">
						<strong>Prerequisites and recommendations</strong></span>
						<br/>
						<span class="fontSize3">
                        Students should have knowledge of Microsoft Windows® and be familiar with the basic use of ArcGIS, including the 
                        topics covered in either the Fundamentals of ArcGIS or ArcGIS Desktop I classes.
                        </span></p>
					</div>

                    <h4>ArcGIS 10.1 Advanced (2 Day Course)<span style="float:right;">TBD</span></h4>
					<div>
						    <span class="fontRed fontSize4">
							    <strong>2 Day Course</strong>
						    </span>
                            <p class = "fontRed fontSize3">
							    Schedule of classes to be announced at later time
                                <br/>
							    Please contact Phyllis Poché at (501) 569-8534 for more information						
							</p>

                            <a id ="emailFaxRegister" class="fundamentals" href="#">Register for courses</a><br /><br />
						
							<p >
							<span class="fontSize4">
							<strong>Overview</strong> 
							</span>
							<br/>
							
							<span class="fontSize3">
							For many GIS projects, there is a simplified way to accomplish a task, as well as a more advanced approach to 
                            complete the same task. These advanced operations are often overlooked, but can greatly enhance the efficiency 
                            and effectiveness of GIS. 
							</span>
							</p>
							
                            <p><span class="fontSize4">
						    <strong>Audience</strong></span>
						    <br/>
							
						    <span class="fontSize3">
                            This course is for those who are already comfortable with the basics of ArcGIS and want to learn more about 
                            working with the enhanced functionality of geodatabases in ArcGIS. 
                            </span></p>

							<p >
							<span class="fontSize4">
							<strong>Topics Covered</strong>
							</span>
							<br/>
							</p>
							<span class="fontSize3">
							Day 1
							</span>

							<ul class="fontSize3">
							    <li> Maintaining Data Integrity (Domains; Subtypes) 
							    </li>
							    <li> Address Geocoding (Address Locators; Geocoding Address from a Table) 
							    </li>
							    <li> Linear Referencing (Linear Referencing Defined; Events; Hatching) 
							    </li> 
                                <li> Annotation (Map Annotation; Geodatabase Annotation; Feature-Linked Annotation; Editing Annotation) 
							    </li>
							</ul>
							
                            <span class="fontSize3">
							Day 2
							</span>

							<ul class="fontSize3">
							    <li> Geodatabase Topology (Creating Geodatabase Topology; Topology Rules; Fixing Topology Errors) 
							    </li>
							    <li> Geometric Networks (Creation; Maintenance; Editing) 
							    </li>
							    <li> GIS Project (GIS project life cycle; Project management tips; GIS project start to finish)
							    </li> 
							</ul>

                        <p ><span class="fontSize4">
						<strong>Prerequisites and recommendations</strong></span>
						<br/>
						<span class="fontSize3">
                        Students should have knowledge of Microsoft Windows® and be familiar with the basic use of ArcGIS, including the 
                        topics covered in the Fundamentals of ArcGIS and Intermediate GIS Concepts classes, or ArcGIS Desktop I and 
                        ArcGIS Desktop II classes.
                        </span></p>
					</div>

					<h4>ArcGIS 10.1 Model Builder (3 Day Course)<span style="float:right;">April 21, 2015</span></h4>
					<div>
						<span class="fontRed fontSize4">
							<strong>3 Day Course</strong>
						</span>
                        <p class = "fontRed fontSize3">							    
							April 21, 2015 <br/>
							Cost: $1,050							    
						</p>
                        												
                        <a id ="emailFaxRegister" class="fundamentals" href="#">Register for courses</a><br /><br />
                        					
						<p>
						<span class="fontSize4">
						    <strong>Overview</strong>
						</span>
						<br/>
							
						<span class="fontSize3">
                        With ModelBuilder, you can automate workflows in ArcGIS without writing code! By graphically connecting tools 
                        together, and connecting those tools to input datasets, you can create your own custom workflows (your own tools) 
                        in ArcToolbox. From repetitive data loading (i.e. loading new competitor data once a month) to complex analysis 
                        (site investigation studies, play assessments), geoscientists and geoscience technicians are using Model Builder 
                        to help them in their daily tasks.

                        This course teaches you the basics of building models and handling data in ModelBuilder, then shows you how to 
                        take your models to the next level by including variables and looping constructs. For example, you can build a 
                        model that automatically renames all of the feature classes in a particular geodatabase or one that loops through 
                        all of the unique values in an attribute table. 
						</span>
						</p>	
							
						<p><span class="fontSize4">
						<strong>Audience</strong></span>
						<br/>
							
						<span class="fontSize3">
                        This course is designed for those who are comfortable with ArcGIS and want to learn how to automate tasks in 
                        ArcMap. 
                        </span></p>

						<p class="fontSize4"><strong>Topics covered</strong></p>

						<span class="fontSize3">Day 1</span>	
                        <ul class="fontSize3">
                            <li>Geoprocessing – An introduction to ArcToolbox and the geoprocessing environment in ArcMap (GIS Data Types
                             Review; ArcToolbox Structure; Running the Tools; Finding Tools; Tool Help; Tools and Licensing) </li>
							<li> Working with ModelBuilder – An introduction to the Model Building Process (How Model Builder is Used; 
                            Creating Custom Toolboxes; Creating Your First Model; Adding Tools; Connecting Tools to Datasets; Using 
                            Multiple Tools) </li>
							<li> Geoprocessing Tools – A discussion of some of the most useful tools for data manipulation, cleanup, 
                            analysis, finding errors (Data Creation Tools; Tools for ModelBuilder - Custom Tools and Automated Workflows 
                            1-101-304
                            Data QC and Cleanup; Filtering Tools; Attribute Management Tools; Environment Settings) </li>
							<li> Building Flexible Models – Setting your models to accept variables as input (Model Parameters; Model 
                            Settings; Simple Variables) </li>
						</ul>
                        
                        <span class="fontSize3">Day 2</span>	
                        <ul class="fontSize3">
                            <li>Consuming Data in ModelBuilder – Dealing with the datasets that are created and used by your model 
                            (Intermediate Data; Managed Data; Tools for working with various data types; Feature Class vs. Feature Layer; 
                            Table vs. Table View; Raster vs. Raster View; Converting Between the Supported Data Types) </li>
							<li> Variables and Parameters – Create variables to allow SQL Expressions, Buffer Distances and other user 
                            inputs to be specified at run-time (Variables from Input Parameters; Custom Variables; Using the Variable 
                            Value Later in the Model) </li>
							<li> Basic Project </li>	
						</ul>

                        <span class="fontSize3">Day 3</span>	
                        <ul class="fontSize3">
                            <li>Iteration and Looping – Repeat parts of a model (Looping Over All the Feature Classes in a Geodatabase; 
                            Looping Over All of the Attribute Values in One Field of an Attribute Table; Other Loop Constructs) </li>
							<li> Branching and Merging – Build a model that makes decisions (Branching a Model; Merging Model Branches; 
                            Assuring that Both Branches Complete Before the Merge Happens)</li>
							<li> Exporting Models to Python – Convert a model into code to be part of a larger Python script, or vice 
                            versa (Python; Script Tools; Exporting Models)</li>
							<li> Final Project </li>
						</ul>

                        <p ><span class="fontSize4">
						<strong>Prerequisites and recommendations</strong></span>
						<br/>
						<span class="fontSize3">
                        Students should have knowledge of Microsoft Windows® and be familiar with the basic use of ArcGIS, including the 
                        topics covered in the Fundamentals of ArcGIS and Intermediate GIS Concepts classes.
                        </span></p>
					</div>

					<h4>ArcGIS 10.1 Python (2 Day Course)<span style="float:right;">April 24, 2015</span></h4>
					<div>
						    <span class="fontRed fontSize4">
							    <strong>2 Day Course</strong>
						    </span>
                            <p class = "fontRed fontSize3">
							    April 24, 2015<br/>
							    Cost: $700							
							</p>

                            <a id ="emailFaxRegister" class="fundamentals" href="#">Register for courses</a><br /><br />
						
							<p >
							<span class="fontSize4">
							<strong>Overview</strong> 
							</span>
							<br/>
							
							<span class="fontSize3">
							Python is becoming more and more popular for writing custom scripts in ArcGIS. In ArcGIS 10, the command line 
                            window been replaced with the Python window which executes true Python statements. Python scripts can be used 
                            to manipulate a map, execute geoprocessing commands, and read/write files. This three-day course teaches basic 
                            Python syntax, working with ArcPy (the Python scripting module for ArcGIS), and file manipulation.
							</span>
							</p>
                            							
							<!--p >
                            <font color="#ff0000"  size="3">
							<a id ="python" class="fundamentals" href="#" course="Python for ArcGIS 10" price="1050" date="April 23-25, 2014" startDate="04/23/2014" endDate="04/25/2014">
                            Email/Fax Register for this class
                            </a></font></p-->
							
                            <p><span class="fontSize4">
						    <strong>Audience</strong></span>
						    <br/>
							
						    <span class="fontSize3">
                            This course is for those who are already comfortable with the basics of ArcGIS and want to learn how to write 
                            Python scripts to manipulate data and maps.
                            </span></p>

							<p >
							<span class="fontSize4">
							<strong>Topics Covered</strong>
							</span>
							<br/>
							</p>
							<span class="fontSize3">
							Day 1
							</span>

							<ul class="fontSize3">
							    <li>Introduction to Python (Python; Writing scripts; Syntax; Help and resources)
							    </li>
							    <li>Modules and Decision Making (Object oriented scripting; Decision making; arcpy)
							    </li>
							    <li>Lists and Looping (Lists; Loops; Input arguments; arcpy.mapping)
							    </li> 
							</ul>
							
                            <span class="fontSize3">
							Day 2
							</span>

							<ul class="fontSize3">
							    <li>Geoprocessing with Python (ArcToolbox; arcpy.env; Calling tools; Error handling)
							    </li>
							    <li>Cursors (Cursor types (search, update, insert); Row object; Cursors and data locking)
							    </li>
							    <li>Working with Geometry (Understanding geometry; Reading and writing geometry)
							    </li> 
                                <li>Working with Map Documents (Map documents; Data Driven Pages)</li>
                                <li>Script Tools (ArcToolbox; ModelBuilder)</li>
							</ul>

                        <p ><span class="fontSize4">
						<strong>Prerequisites and recommendations</strong></span>
						<br/>
						<span class="fontSize3">
                        Students should have knowledge of Microsoft Windows® and be familiar with the basic use of ArcGIS, including the 
                        topics covered in either the Fundamentals of ArcGIS or ArcGIS Desktop I classes.
                        </span></p>
					</div>
				</div>
 
			</div><!-- #content -->
		</div><!-- #container -->

	<!-- Fundamentals of ArcGIS Registration Form -->
	<div id="fundamentalsRegistration" title="Training Registration Form">
	
	<form id="registrationForm" class="cmxform" action="" method="get">
		<div>
        <span class="ajax-loader"></span>
        <span class="fontRed">*</span> indicates required fields<br />
                <fieldset style="border:1px solid;padding:3px">
                <legend>Courses<span class="fontRed">*</span></legend>
                <table>
                   <!-- <tr>
                        <td>
                            <input type="checkbox" id="course1" name="courses[]" class="one_required" value="fundamentals" courseStartDate="08/04/2014" courseEndDate="08/05/2014" coursePrice="700" courseName="ArcGIS 10.1 Fundamentals"/>
                        </td>
                        <td style="width:350px; height: 25px;">
                            COURSE NAME: ArcGIS 10.1 Fundamentals
                        </td>
                        <td style="width:200px">
                            DATE:  Aug 4, 2014
                        </td>
                        <td>
                            PRICE: &nbsp; $700
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="course2" name="courses[]" class="one_required" value="intermediate" courseStartDate="08/06/2014" courseEndDate="08/08/2014" coursePrice="1050" courseName="ArcGIS 10.1 Intermediate"/>
                        </td>
                        <td style="width:350px; height: 25px;">
                            COURSE NAME: ArcGIS 10.1 Intermediate
                        </td>
                        <td style="width:200px">
                            DATE:  Aug 6, 2014
                        </td>
                        <td>
                            PRICE: &nbsp; $1050
                        </td>
                    </tr> -->
                    <tr> 
                        <td>
                            <input type="checkbox" id="course3" name="courses[]" disabled="disabled" class="one_required" value="advanced" disabled="disabled" courseStartDate="" courseEndDate="" coursePrice="" courseName="ArcGIS 10.1 Advanced"/>
                        </td>
                        <td style="width:350px; height: 25px;">
                            COURSE NAME: ArcGIS 10.1 Advanced
                        </td>
                        <td style="width:200px">
                            DATE:  TBD
                        </td>
                        <td>
                            PRICE: &nbsp; 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="course4" name="courses[]" class="one_required" value="modelBuilder" courseStartDate="04/21/2014" courseEndDate="04/22/2014" coursePrice="700" courseName="ArcGIS 10 Model Builder"/>
                        </td>
                        <td style="width:350px; height: 25px;">
                            COURSE NAME: ArcGIS 10.1 Model Builder
                        </td>
                        <td style="width:200px">
                            DATE:  Apr 21, 2015
                        </td>
                        <td>
                            PRICE: &nbsp; $1050
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="course5" name="courses[]" class="one_required" value="python" courseStartDate="04/23/2014" courseEndDate="04/25/2014" coursePrice="1050" courseName="Python for ArcGIS 10"/>
                        </td>
                        <td style="width:300px; height: 25px;">
                            COURSE NAME:  ArcGIS 10.1 Python
                        </td>
                        <td style="width:200px">
                            DATE:  Apr 24, 2015
                        </td>
                        <td>
                            PRICE: &nbsp; $700
                        </td>
                    </tr>
                </table>
                </fieldset>
               
               
				<br />
                <fieldset style="border:1px solid;padding:3px">
               <legend>Student Information</legend>
					<table class="courseTable">
					<tr>
					<td style="height: 30px; width: 150px">
						<table id="tableForm">
						<tr>
							<td style="height: 30px; width: 150px">
								<label for="firstname">FIRST NAME:<span class="fontRed">*</span></label>
							</td>
							<td style="height: 30px">
								<input id="firstname" name="firstname" type="text" value="" style= "width: 200px"></input>
							</td>
						</tr>
                        <tr>
							<td style="height: 30px; width: 150px">
								<label for="lastnamename">LAST NAME:<span class="fontRed">*</span></label>
							</td>
							<td style="height: 30px">
								<input id="lastname" name="lastname" type="text" value="" style= "width: 200px"></input>
							</td>
						</tr>
						<tr>
							<td style="height: 30px; width: 150px">
								<label>ORGANIZATION:</label>
							</td>
							<td style="height: 30px">
								<input id="organization" name="organization" type="text" value="" style= "width: 200px"></input>
							</td>
						</tr>
						<tr>
							<td style="height: 30px;">
								<label>ADDRESS 1:<span class="fontRed">*</span></label>
							</td>
							<td style="height: 30px;">
								<input id="address" name="address" type="text" style= "width: 200px"></input>
							</td>
						</tr>
                        <tr>
							<td style="height: 30px;">
								<label>ADDRESS 2:</label>
							</td>
							<td style="height: 30px;">
								<input id="address2" name="address2" type="text" style= "width: 200px"></input>
							</td>
						</tr>
                        <tr>
							<td style="height: 30px;">
								<label>CITY:<span class="fontRed">*</span></label>
							</td>
							<td style="height: 30px;">
								<input id="city" name="city" type="text" style= "width: 200px"></input>
							</td>
						</tr>
                        <tr>
							<td style="height: 30px;">
								<label>STATE:<span class="fontRed">*</span></label>
							</td>
							<td style="height: 30px;">
                                <select id="state" name="state" style= "width: 200px"> 
	                                <option value="AL">Alabama</option> 
	                                <option value="AK">Alaska</option> 
	                                <option value="AZ">Arizona</option> 
	                                <option value="AR" selected="selected">Arkansas</option> 
	                                <option value="CA">California</option> 
	                                <option value="CO">Colorado</option> 
	                                <option value="CT">Connecticut</option> 
	                                <option value="DE">Delaware</option> 
	                                <option value="DC">District Of Columbia</option> 
	                                <option value="FL">Florida</option> 
	                                <option value="GA">Georgia</option> 
	                                <option value="HI">Hawaii</option> 
	                                <option value="ID">Idaho</option> 
	                                <option value="IL">Illinois</option> 
	                                <option value="IN">Indiana</option> 
	                                <option value="IA">Iowa</option> 
	                                <option value="KS">Kansas</option> 
	                                <option value="KY">Kentucky</option> 
	                                <option value="LA">Louisiana</option> 
	                                <option value="ME">Maine</option> 
	                                <option value="MD">Maryland</option> 
	                                <option value="MA">Massachusetts</option> 
	                                <option value="MI">Michigan</option> 
	                                <option value="MN">Minnesota</option> 
	                                <option value="MS">Mississippi</option> 
	                                <option value="MO">Missouri</option> 
	                                <option value="MT">Montana</option> 
	                                <option value="NE">Nebraska</option> 
	                                <option value="NV">Nevada</option> 
	                                <option value="NH">New Hampshire</option> 
	                                <option value="NJ">New Jersey</option> 
	                                <option value="NM">New Mexico</option> 
	                                <option value="NY">New York</option> 
	                                <option value="NC">North Carolina</option> 
	                                <option value="ND">North Dakota</option> 
	                                <option value="OH">Ohio</option> 
	                                <option value="OK">Oklahoma</option> 
	                                <option value="OR">Oregon</option> 
	                                <option value="PA">Pennsylvania</option> 
	                                <option value="RI">Rhode Island</option> 
	                                <option value="SC">South Carolina</option> 
	                                <option value="SD">South Dakota</option> 
	                                <option value="TN">Tennessee</option> 
	                                <option value="TX">Texas</option> 
	                                <option value="UT">Utah</option> 
	                                <option value="VT">Vermont</option> 
	                                <option value="VA">Virginia</option> 
	                                <option value="WA">Washington</option> 
	                                <option value="WV">West Virginia</option> 
	                                <option value="WI">Wisconsin</option> 
	                                <option value="WY">Wyoming</option> 
                                </select> 
							</td>
						</tr>
                        <tr>
							<td style="height: 30px;">
								<label>ZIP CODE:<span class="fontRed">*</span></label>
							</td>
							<td style="height: 30px;">
								<input id="zipcode" name="zipcode" type="text" style= "width: 200px"></input>
							</td>
						</tr>
						<tr>
							<td style="height: 30px; width: 150px">
								<label>TELEPHONE:<span class="fontRed">*</span></label>
							</td>
							<td style="height: 30px">
								<input id="telephone" name="telephone" type="text" value="" style= "width: 200px"></input>
							</td>
						</tr>
						<tr>
							<td style="height: 30px; width: 150px">
								<label>FAX:</label>
							</td>
							<td style="height: 30px">
								<input id="fax" name="fax" type="text" value="" style= "width: 200px"></input>
							</td>
						</tr>
						<tr>
							<td style="height: 30px; width: 150px">
								<label>EMAIL:<span class="fontRed">*</span></label>
							</td>
							<td style="height: 30px">
								<input id="email" name="email" type="text" value="" style= "width: 200px"></input>
							</td>
						</tr>
						</table>
					</td>
					</tr>
					</table>
                    </fieldset>                    
                    <br />
                    <fieldset style="border:1px solid;padding:3px"> 
                        <legend> </legend>                       
                        <div>
                            @Html.Label("CaptchaCode", "Retype the code from the picture:")<span class="fontRed">*</span>
                            @{ MvcCaptcha sampleCaptcha = CaptchaHelper.GetSampleCaptcha();}
                            @Html.Captcha(sampleCaptcha)
                        </div>
                        <div class="actions">
                            @Html.TextBox("CaptchaCode")
                            <span class="status" id="status" style="color:#FF0000"></span>
                            <!-- a href="#" id="check">Check</a -->
                        </div>
                    </fieldset>
					
				<p>				
					Invoice and location instructions will be mailed or faxed to you prior to the class.                   
				</p>
				
		</div>
	</form>
	</div>
	<!-- End of Fundamentals of ArcGIS Registration Form -->