@{
    ViewBag.Title = "Training";
}
@section Scripts
{
    <script src="~/Scripts/training.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
    <script src="http://jquery.bassistance.de/validate/additional-methods.js"></script>
    <script src="~/Scripts/jquery.mask.min.js" type="text/javascript"></script>
}			
		<div id="container">
			<div id="content" role="main" >
				<h2>GIS Training Courses</h2>
				<div id="accordion">
					<h4>Fundamentals of ArcGIS 10</h4>
					<div>
						
                          <font face="Trebuchet MS" color="#ff0000" size="+1">
								<strong>2-Day Course</strong>
								</font>
								<br/><br/>
								
								<p align="left">
								<font face="Trebuchet MS" size="4">
								<strong>Overview</strong>
								</font>
								<br/>
								<font face="Trebuchet MS">
								This two-day course introduces students to ArcGIS and its various interfaces. Students will learn
								the basics of navigating and wor`king with data in ArcMap and ArcCatalog, and will build a solid
								foundation for working in GIS.
								</font>
								</p>

								<p align="left">
								<font face="Trebuchet MS" size="4">
								<strong>Audience</font></strong>
								</font>
								<br/>
								<font face="Trebuchet MS">
								This course is primarily for those who want to learn the basics of ArcGIS.
								</font>
								</p>
								
								<P align="left">
								<font face="Trebuchet MS" size="4">
								<Strong>Prerequisites and Recommendations</strong>
								</font>
								<br/>
								<font face="Trebuchet MS">
								Knowledge of Microsoft Windows®
								</font>
								</P>

								<!-- <p align="left">
								<FONT color=#ff0000 size="3" face="Trebuchet MS">
								<BIG>Schedule of classes to be announced at later time</BIG>
								</font>
								</p> 

								<p align="Left">
								<FONT color=#ff0000 size="3" face="Trebuchet MS">
								<BIG>Please contact Phyllis Poch&#233; at (501) 569-8534 for more information</BIG>
								</FONT>
								</p> -->

								<p align="left">
								<font face="Trebuchet MS" color="#ff0000">
								December 9-10, 2013
								</font>
								<br/>
								<font color="#ff0000" face="Trebuchet MS">
								Cost: $700
								</font>
								</p> 

								<!-- <p align="center"><FONT color=#ff0000 size="3" face="Trebuchet MS"><a href="http://argis.ualr.edu/gistraining/registration.aspx">Register Online for this class</a></FONT></p> -->

								<p align="left">
								<font color="#ff0000" face="Trebuchet MS">
								<a id ="fundamentals" class="fundamentals" href="#" course="Fundamentals of ArcGIS 10" price="$700" date="December 9-10, 2013">
								Email/Fax Registration for this class</a>
								</font>
								</p>

								<P align="left">
								<font face="Trebuchet MS" size="4">
								<Strong>Topics Covered</strong>
								</font>
								</P>

								<font face="Trebuchet MS">
								<b>Day 1</b>

								<UL>
								<LI>Introduction to ArcGIS
								<UL>
								<LI>GIS Concepts
								<LI>ArcGIS Software
								<LI>ArcMap
								</UL>

								<LI>Layer Properties
								<UL>
								<LI>Filtering Data
								<LI>Symbolizing Data Layers
								<LI>Labeling Layers
								<LI>Saving Properties with Layer Files
								</UL>

								<LI>Basic Labeling
								<UL>
								<LI>Label Properties
								<LI>Label Classes
								<LI>Expressions
								<LI>Placement Properties
								<LI>Priority and Weight Rankings
								</UL>

								<LI>Layouts
								<UL>
								<LI>Layout View and Toolbar
								<LI>Setting Up a Page
								<LI>Map Scale and Extent
								<LI>Map Elements
								<LI>Templates
								<LI>Printing
								</UL>
								</UL>

								<b>Day 2</b>

								<UL>
								<LI>Data Types, ArcCatalog, and Metadata
								<UL>
								<LI>ArcCatalog
								<LI>Metadata
								<LI>Valid Formats
								<LI>Contents and Preview Tabs
								<LI>Managing GIS Data
								</UL>

								<LI>Selections and Queries
								<UL>
								<LI>Adding Layers to a Map
								<LI>Determining Coordinate System
								<LI>Setting Measure Units
								<LI>Selecting by Attributes
								<LI>Selecting by Spatial Relationship
								</UL>

								<LI>Projection Basics
								<UL>
								<LI>Spatial Reference Issue
								<LI>Spatial Reference and ArcGIS
								<LI>Define Projection tool
								</UL>

								<LI>ArcGIS Online and Wrap-Up
								<UL>
								<LI>Adding data from outside sources
								<LI>Using data from ArcGIS Online
								<LI>Wrap-Up and Review
								</UL>
								</UL>
								</font>

								
								
					</div>
					<h4>Intermediate ArcGIS 10</h4>
					<div>
						<font face="Trebuchet MS" color="#ff0000" Size="+1">
							<strong>2 Day Course</strong>
							</font>
							<br/><br/>
							
							<p align="left">
							<font face="Trebuchet MS" size="4">
							<strong>Overview</strong>
							</font>
							<br/>
							<font face="Trebuchet MS" size="3">
							This two-day course expands upon a basic GIS foundation. Students will learn more techniques
							for importing, using, and displaying GIS data, and will also be introduced to editing data and
							using ArcToolbox.
							</font>
							</p>

							<p align="left">
							<font face="Trebuchet MS" size="4">
							<strong>Audience</strong>
							</font>
							<br/>
							<font face="Trebuchet MS" size="3">
							This course is primarily for those who want to expand their skills in ArcGIS.
							</font>
							</p>

							<P align="left">
							<font face="Trebuchet MS" size="4">
							<strong>Prerequisites and Recommendations</strong>
							</font>
							<br/>
							<font face="Trebuchet MS" size="3">
							Students should have already taken the Fundamentals of ArcGIS class or the ArcGIS Desktop I
							class.
							</font>
							</P>

							<!-- <font color="#ff0000" size="3" face="Trebuchet MS">
							<p align="center"><FONT color=#ff0000 size="3" face="Trebuchet MS"><p align="Left"><FONT color=#ff0000 size="3" face="Trebuchet MS"><BIG>Please contact Phyllis Poch&#233; at (501) 569-8534 for more information</BIG></FONT> </FONT></p> </font></p> -->

							<p align="left">
							<font color="#ff0000" face="Trebuchet MS" size="3">
							December 11-12, 2013
							</font>
							<br/>
							<font color="#ff0000" face="Trebuchet MS" size="3">
							Cost: $700
							</font>
							</p>


							<!-- <p align="center"><FONT color=#ff0000 size="3" face="Trebuchet MS"><a href="http://argis.ualr.edu/gistraining/registration.aspx">Register Online for this class</a></FONT></p> -->

							<p align="left">
							<font color="#ff0000" face="Trebuchet MS" size="3">
							<a id ="intermediate" class="fundamentals" href="#" course="Intermediate ArcGIS 10" price="$700" date="December 11-12, 2013">
							Email/Fax Registration for this class
							</a>
							</font>
							</p>
							
							<p align="left">
							<font face="Trebuchet MS" size="4">
							<strong>Topics Covered</strong>
							</font>
							</p>

							<font face="Trebuchet MS" size="3">
							<b>Day 1</b>

							<UL>
							<li>Joins and Relates

							<ul>
							<li>Table joins
							<li>Statistics
							<li>Summarize
							<li>Field calculator
							</ul>

							<li>Add XY Data

							<ul>
							<li>Importing Excel spreadsheets
							<li>Display x,y
							<li>Sample tools for importing lines and polygons
							</ul>

							<li>Address Geocoding

							<ul>
							<li>Using the Address Tools in ArcMap
							<li>Geocoding Addresses from a File
							</ul>

							<li>Advanced Labeling

							<ul>
							<li>Customizing Labels
							<li>Formatting Functions
							<li>Leader Lines
							<li>Stacked Labels
							<li>Map Annotation
							</ul>
							</ul>

							<b>Day 2</b>

							<ul>
							<li>Creating Data and Georeferencing Images

							<ul>
							<li>Creating File Geodatabases
							<li>Creating Feature Classes
							<li>Georeferencing an image
							</ul>

							<li>Beginner Editing

							<ul>
							<li>Drawing in new features
							<li>Using the proper tasks, sketch tools and targets
							<li>Setting snapping
							<li>Editing attributes
							</ul>

							<li>More Editing

							<ul>
							<li>More Advanced Editing Tools
							<li>Tracing
							<li>Map Topology
							</ul>

							<li>ArcToolbox

							<ul>
							<li>The Geoprocessing environment
							<li>Buffer, Union, Intersect and various other tools
							</ul>
							</ul>
							</font>	

					</div>
					<h4>ArcGIS 10 Model Builder</h4>
					<div>
						<font face="Trebuchet MS" color="#ff0000" Size="+1">
							<strong>2 Day Course</strong>
						</font>
						<br/><br/>
						
							<p align="left">
							<font face="Trebuchet MS" size="4">
							<strong>Overview</strong>
							</font>
							<br/>
							
							<font face="Trebuchet MS" size="3">In
							this two-day course, students will be introduced to
							the Geoprocessing environment in ArcGIS. Regional data will be used for
							the course. Participants learn how to create, share, and modify models
							for analysis. Management of raster data, XML Import/Export, image
							catalogs, the command line interface to the software and python
							scripting is introduced.
							</font>
							</p>
							
							
							<p align="left"><font face="Trebuchet MS" size="4">
							<strong>Audience</strong></font>
							<br/>
							
							<font face="Trebuchet MS" size="3">This
							course is for spatial data managers and analysts who have an
							understanding of the ArcGIS desktop applications and are ready to make
							use of the Geoprocessing environment of ArcGIS. New and existing data
							managers interested in migrating to the Geodatabase environment can
							benefit from taking this course.</font></p>
							
							
							<p align="left"><font face="Trebuchet MS" size="4">
							<strong>Prerequisites and recommendations</strong></font>
							<br/>
							<font face="Trebuchet MS" size="3">Registrants
							should have taken Introduction to ArcGIS II, or have equivalent
							knowledge. Attendees should be familiar with ArcMap and ArcCatalog. It
							is NOT required that registrants have extensive experience with the
							Geodatabases before taking this course. The focus of the course is to
							provide an introduction to the Geoprocessing environment in ArcGIS with
							hands on exercises using regional data.</font></p>

							<!--                 <p align="center"><font color="#ff0000"
							 face="Trebuchet MS" size="3"> <br>
							 
							<BIG>Schedule of classes to be announced at later time</BIG><BR> 

							 <big>Please contact Phyllis Poché at (501) 569-8534 for more information</big></font> </p> -->

							<p align="left">
							<font face="Trebuchet MS" size="3" color="#ff0000">
							April 21-22, 2014 <br/>
							Cost: $700
							</font>

							<!-- <br><Font color="black">(Class Schedule Dependent Upon Demand)</font></p> -->
							</p>
							
							<p align="left">
                            <font color="#ff0000" face="Trebuchet MS" size="3">
                            <a id ="modelBuilder" class="fundamentals" href="#" course="ArcGIS 10 Model Builder" price="$700" date="April 21-22, 2013">
                            Email/Fax Register for this class</a>
                            </font></p>

							<!-- <p align="left">
							<font color=black size="+1" face="Trebuchet MS">Dependent upon demand:</font></p> 
							<hr> 
							<blockquote> -->
							
							<p align="left"><font face="Trebuchet MS" size="4"><strong>Goals</strong></font>
							<br/>
							
							<font face="Trebuchet MS" size="3">&bull;
							Geodatabase enhancements <br>
							&bull; Raster data in the Geodatabase <br>
							&bull; XML Import/Export <br>
							&bull; Create/Modify a model <br>
							&bull; Distributing a model <br>
							&bull; Command line interface <br>
							&bull; Python scripting </font></p>
							
							<p align="left"><font face="Trebuchet MS" size="4"><strong>Topics covered</strong></font>
							<br/>
							
							<font face="Trebuchet MS" size="3">&bull;
							Managing Raster data in the Geodatabase <br>
							&bull; XML Import/Export <br>
							&bull; Managing models in ArcGIS <br>
							&bull; Command line interface to ArcGIS <br>
							&bull; Python scripting introduction</font></p>
							

					</div>
					<h4>Python for ArcGIS 10</h4>
					<div>
						    <font face="Trebuchet MS" color="#ff0000" Size="+1">
							    <strong>3 Day Course</strong>
						    </font>
						    <br/><br/>
						
							<p align="left">
							<font face="Trebuchet MS" size="4">
							<strong>Overview</strong> 
							</font>
							<br/>
							
							<font face="Trebuchet MS" size="3">
							The ArcGIS geoprocessing framework includes a scripting environment, and
							Python&reg; is the scripting language included with ArcGIS. This two-day
							day course introduces the Python scripting language and shows how it
							can be used to access and automate geoprocessing functionality.
							Students learn Python scripting syntax and then begin writing scripts
							to automate geoprocessing operations. Students also learn how to
							incorporate Python scripts as custom tools in ArcToolbox.
							</font>
							</p>

							<p align="left"><font color="#ff0000" face="Trebuchet MS" size="3">
							April 23-25, 2014 <br/>
							Cost: $1,050
							</font>
							<!-- <br>
							<font color="black">(Class
							Schedule Dependent Upon Demand)</font></font></p>
							<font face="Trebuchet MS">
							</font> --> 
							</p>
							
							<p align="left">
                            <font color="#ff0000" face="Trebuchet MS" size="3">
							<a id ="python" class="fundamentals" href="#" course="Python for ArcGIS 10" price="$1050" date="April 23-25, 2014">
                            Email/Fax Register for this class
                            </a></font></p>
							
							<p align="left">
							<font face="Trebuchet MS" size="4">
							<strong>Topics Covered</strong>
							</font>
							<br/>
							
							<font face="Trebuchet MS" size="3">
							Those completing this course will be able to:
							</p>

							<ul>
							<li>Understand the basics of the Python scripting language.
							</li>
							<li>Understand how scripts can be used in the ArcGIS geoprocessing framework.
							</li>
							<li>Incorporate tools and environment settings into scripts.
							</li>
							<li>Incorporate cursors, describe objects, and enumerations into scripts.
							</li>
							<li>Work with scripts in ArcToolbox.
							</li>
							<li>Access resources for debugging Python code.
							</li>
							</ul>
							</font>

							<!-- <p align="center"><font color="#ff0000" size="3" face="Trebuchet MS"> <br><BIG>Schedule of classes to be announced at later time</BIG><BR></P> -->

							<!-- <p align="center">
							<font color="#ff0000" face="Trebuchet MS" size="3">
							<big>Please contact Phyllis Poch&eacute; at (501) 569-8534 for more information</big>
							</font>
							</p> 
							-->

					</div>
				</div>
 
			</div><!-- #content -->
		</div><!-- #container -->

	<!-- Fundamentals of ArcGIS Registration Form -->
	<div id="fundamentalsRegistration" title="Training Registration Form">
	
	<form id="registrationForm" class="cmxform" action="" method="get">
		<div>
		<font face="Trebuchet MS">
                
				<p align="center">
					COURSE NAME:  <span id="courseName"></span>	&nbsp;&nbsp;  DATE:  <span id="courseDate"></span> &nbsp;&nbsp; PRICE:  <span id="coursePrice"></span> <br/><br/>
				</p>
				
					<table border="1" width="100%">
					<tr>
					<td align="left" style="padding-left: 10px">
						<table id="tableForm" border="1">
						<tr>
							<td style="height: 30px; width: 150px">
								<label for="firstname">FIRST NAME:<font color="red">*</font></label>
							</td>
							<td style="height: 30px">
								<input id="firstname" name="firstname" type="text" value="" style= "width: 200px"></input>
							</td>
						</tr>
                        <tr>
							<td style="height: 30px; width: 150px">
								<label for="lastnamename">LAST NAME:<font color="red">*</font></label>
							</td>
							<td style="height: 30px">
								<input id="lastname" name="lastname" type="text" value="" style= "width: 200px"></input>
							</td>
						</tr>
						<tr>
							<td style="height: 30px; width: 150px">
								<label>ORGANIZATION:</label>
							</td>
							<td style="height: 30px">
								<input id="organization" name="organization" type="text" value="" style= "width: 200px"></input>
							</td>
						</tr>
						<tr>
							<td style="height: 30px;">
								<label>ADDRESS 1:<font color="red">*</font></label>
							</td>
							<td style="height: 30px;">
								<input id="address" name="address" type="text" style= "width: 200px"></input>
							</td>
						</tr>
                        <tr>
							<td style="height: 30px;">
								<label>ADDRESS 2:</label>
							</td>
							<td style="height: 30px;">
								<input id="address2" name="address2" type="text" style= "width: 200px"></input>
							</td>
						</tr>
                        <tr>
							<td style="height: 30px;">
								<label>CITY:<font color="red">*</font></label>
							</td>
							<td style="height: 30px;">
								<input id="city" name="city" type="text" style= "width: 200px"></input>
							</td>
						</tr>
                        <tr>
							<td style="height: 30px;">
								<label>STATE:<font color="red">*</font></label>
							</td>
							<td style="height: 30px;">
                                <select id="state" name="state" style= "width: 200px"> 
	                                <option value="AL">Alabama</option> 
	                                <option value="AK">Alaska</option> 
	                                <option value="AZ">Arizona</option> 
	                                <option value="AR" selected="selected">Arkansas</option> 
	                                <option value="CA">California</option> 
	                                <option value="CO">Colorado</option> 
	                                <option value="CT">Connecticut</option> 
	                                <option value="DE">Delaware</option> 
	                                <option value="DC">District Of Columbia</option> 
	                                <option value="FL">Florida</option> 
	                                <option value="GA">Georgia</option> 
	                                <option value="HI">Hawaii</option> 
	                                <option value="ID">Idaho</option> 
	                                <option value="IL">Illinois</option> 
	                                <option value="IN">Indiana</option> 
	                                <option value="IA">Iowa</option> 
	                                <option value="KS">Kansas</option> 
	                                <option value="KY">Kentucky</option> 
	                                <option value="LA">Louisiana</option> 
	                                <option value="ME">Maine</option> 
	                                <option value="MD">Maryland</option> 
	                                <option value="MA">Massachusetts</option> 
	                                <option value="MI">Michigan</option> 
	                                <option value="MN">Minnesota</option> 
	                                <option value="MS">Mississippi</option> 
	                                <option value="MO">Missouri</option> 
	                                <option value="MT">Montana</option> 
	                                <option value="NE">Nebraska</option> 
	                                <option value="NV">Nevada</option> 
	                                <option value="NH">New Hampshire</option> 
	                                <option value="NJ">New Jersey</option> 
	                                <option value="NM">New Mexico</option> 
	                                <option value="NY">New York</option> 
	                                <option value="NC">North Carolina</option> 
	                                <option value="ND">North Dakota</option> 
	                                <option value="OH">Ohio</option> 
	                                <option value="OK">Oklahoma</option> 
	                                <option value="OR">Oregon</option> 
	                                <option value="PA">Pennsylvania</option> 
	                                <option value="RI">Rhode Island</option> 
	                                <option value="SC">South Carolina</option> 
	                                <option value="SD">South Dakota</option> 
	                                <option value="TN">Tennessee</option> 
	                                <option value="TX">Texas</option> 
	                                <option value="UT">Utah</option> 
	                                <option value="VT">Vermont</option> 
	                                <option value="VA">Virginia</option> 
	                                <option value="WA">Washington</option> 
	                                <option value="WV">West Virginia</option> 
	                                <option value="WI">Wisconsin</option> 
	                                <option value="WY">Wyoming</option> 
                                </select> 
							</td>
						</tr>
                        <tr>
							<td style="height: 30px;">
								<label>ZIP CODE:<font color="red">*</font></label>
							</td>
							<td style="height: 30px;">
								<input id="zipcode" name="zipcode" type="text" style= "width: 200px"></input>
							</td>
						</tr>
						<tr>
							<td style="height: 30px; width: 150px">
								<label>TELEPHONE:<font color="red">*</font></label>
							</td>
							<td style="height: 30px">
								<input id="telephone" name="telephone" type="text" value="" style= "width: 200px"></input>
							</td>
						</tr>
						<tr>
							<td style="height: 30px; width: 150px">
								<label>FAX:</label>
							</td>
							<td style="height: 30px">
								<input id="fax" name="fax" type="text" value="" style= "width: 200px"></input>
							</td>
						</tr>
						<tr>
							<td style="height: 30px; width: 150px">
								<label>EMAIL:<font color="red">*</font></label>
							</td>
							<td style="height: 30px">
								<input id="email" name="email" type="text" value="" style= "width: 200px"></input>
							</td>
						</tr>
						</table>
					</td>
					</tr>
					</table>
					<br/><br/>
					
				<p align="left">
					<!--Email, mail, or fax registration form to co-sponsor: <br/><br/>
					EMAIL: <a href="mailto:pnpoche@ualr.edu">pnpoche@ualr.edu</a>  &nbsp;&nbsp; FAX: (501) 569-8538 <br/><br/> -->
					
					<!--MAILING ADDRESS: <br/>
					UALR GIS Applications Laboratory <br/>
					2801 South University <br/>
					Donald Reynolds Center for Business and Economic Development Suite 405 <br/>
					Little Rock, AR  72204 <br/><br/> -->
														
					Invoice and location instructions will be mailed or faxed to you prior to the class. <br />
                    <font color="red">*</font> indicates required fields
				</p>
				
		</font>
		</div>
	</form>
	</div>
	<!-- End of Fundamentals of ArcGIS Registration Form -->