@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        #headerCampusMap{
	        height:100%;
	        background-color: #6E2639;
	        width: 100%;
        }	
        .soa{
	        font-family: helvetica, arial, sans-serif;
	        font-size: 110%;
	        font-weight:bold;
	        color:white;
	        position:relative;
	        display:inline-block;
	        height:25px;
	        margin-top:5px;
	        /*margin-left:5px;*/
	        /*left:80px;*/
	
        }			
    </style>
    <title>CampusMap</title>
</head>
<body style="background-color: #6E2639;">
    <div id="headerCampusMap">
        <span class="soa">UALR Campus Map</span>
        <iframe src="http://cdn.nucloud.com/maps/291/index.html" height="750" width="100%"></iframe>
    </div>
    
</body>
</html>
